.splash {
  position: relative;
  width: 100%;
  background-image: url('/img/splash-bg.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100%;
  height: 36rem;
}

.profile-pic {
  display: inline-block;
  position: relative;
  top: 12rem;
  height: 24rem;
  width: 24rem;
  background-image: url('/img/profile-pic.jpg');
  background-size: 100%;
  background-position: center;
  z-index: 50;
  border: 3px solid whitesmoke;
  border-radius: 50%;
  box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 10);
}

ul.d-flex {
  padding: 0;
  list-style: none;
}

ul.d-flex li {
  flex-basis: 30%;
}

ul.tech {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgb(100,100,100, 0) 0%, rgb(225,225,225, .1) 4%, rgb(245,245,245, .5) 6%, whitesmoke 20%, white 99%);
  padding: 0;
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

ul.tech li {
  padding: 1rem;
}

.tech-icon {
  height: 4rem;
}

div.contact {
  background-color: lavenderblush;
  text-align: center;
  min-width: 33%;
}

.slab {
  font-family: 'Roboto Slab', serif;
}

.title {
  font-size: 4rem;
}

.icon {
  height: 1.5rem;
}

.icon-2 {
  height: 3rem;
}

button.clean {
  display: inline-block;
  margin: 0;
  padding: 0 .25em;
  background: none;
  border: none;
  transition: text-shadow .2s ease-in-out;
  transition: color .2s ease-in-out;
  
  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    text-shadow: 0px 0px 1px rgb(218, 218, 218, 50);
    color: #272727;
  }
}

footer {
  width: 100%;
  background-color: orangered;
  color: rgb(241, 220, 207);
  text-align: center;
}

footer div.copyright {
  background-color: rgb(226, 60, 0);
  color: rgb(255, 120, 66);
  padding: .5rem;
  text-align: center;
}

footer a {
  color: whitesmoke;
  
  &:hover {
    color: rgb(246, 222, 190);
    text-decoration: none;
  }
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div#project-container {
  height: 16rem;
}

.project {
  position: absolute;
  height: 4rem;
  width: 4rem;
  bottom: 0px;
  border: 2px solid rgba(243, 243, 243, 100);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
  background-image: url('/img/github.jpg');
  transition: box-shadow .2s ease-in-out, height .2s ease-in-out, width .2s ease-in-out;

  &.grow {
    height: 4.5rem;
    width: 4.5rem;
    z-index: 100;
    box-shadow: 0 0 8px 2px rgba(146, 39, 0, 0.1);
  }

  &:focus {
    outline: none;
  }
}

.fitfix {
  margin: 0;
  padding: 0;
}

.img-box {
  flex-basis: 18rem;
  min-width: 18rem;
  height: 18rem;
  margin: 1rem;
  vertical-align: top;
  display: inline-block;
}

.img-box img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  vertical-align: center;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 14px 0 rgba(0, 0, 0, 0.19);
}

.nav-item {
  transition: background-color .4s;
  padding: .25rem;
  border-radius: 8px;
}

.nav-item.active {
  background-color: #f7f7f7;
}

@media only screen and (max-width: 750px) {
  .profile-pic {
    top: 4rem;
    height: 16rem;
    width: 16rem;
  }

  .splash {
    height: 18rem;
  }
  
  ul.tech {
    display: none;
  }

  .contact {
    width: 100%;
  }

  ul.nav-tabs {
    display: block;
  }
}